<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Spotify{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="img/spotify.png"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% block stylesheets %}{% endblock %}
</head>

<style>
    *{
        margin: 0;
        padding: 0;
    }

    .flex {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    body{
        display: flex;
        background-color: #131313;
    }

    #sidebar{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 10vw;
        color: white;

    }

    #content {
        width: 90vw;
        height: 92vh;
    }

    #top {
        display: flex;
        align-items: center;
        justify-content: end;
        width: 90vw;
        height: 8vh;
        color: white;
    }


    #account-button {
        background-color: white;
        color: black;
        border: none;
        border-radius: 20px;
        font-size: 13px;
        font-weight: bold;
        cursor: pointer;
        height: 50%;
        margin-right: 50px;
        padding : 10px 10px 10px 10px;
    }

    ul{
        list-style: none;
    }
</style>

<body>
<div id="sidebar">
    <ul>
        <li><a href={{ path('app_track_index') }}>Recherche Titre</a></li>
        <li>Recherche Titre</li>
        <li><a href={{ path('app_favorites') }}>Favoris</a></li>
    </ul>
</div>
<div id="content">
    <div id="top">
        <a href="{{ path('app_logout') }}" id="account-button" class="flex btn btn-primary">{{ app.user.email }}</a>
    </div>
    {% block body %}{% endblock %}
</div>
</body>
</html>